<div class="gantt-demo-header">
  <div class="header-section">
    <span class="header-section-title">View:</span>
    <span class="header-section-content">
      <input id="day" type="radio" value="day" name="view-type" [(ngModel)]="options.viewType" /> <label for="day">Day</label>
      <input id="month" type="radio" value="month" name="view-type" [(ngModel)]="options.viewType" /> <label for="month">Month</label>
      <input id="quarter" type="radio" value="quarter" name="view-type" [(ngModel)]="options.viewType" /> <label for="quarter">Quarter</label>
    </span>
  </div>
  <div class="header-section">
    <span class="header-section-title">Draggable:</span>
    <span class="header-section-content">
      <input type="checkbox" [(ngModel)]="options.draggable" />
    </span>
  </div>

  <div class="header-section">
    <span class="header-section-content">
      <button (click)="gantt.expandAll()">Expand all</button>
    </span>
  </div>
  <div class="header-section">
    <span class="header-section-content">
      <button (click)="gantt.collapseAll()">Collapse all</button>
    </span>
  </div>
  <div class="header-section">
    <span class="header-section-content">
      <button (click)="print('gantt-range')">Export as image</button>
    </span>
  </div>
</div>
<div class="gantt-demo-content">
  <ngx-gantt
    #gantt
    start="1514736000"
    end="1609430400"
    [items]="items"
    [viewType]="options.viewType"
    [draggable]="options.draggable"
    [async]="options.async"
    [childrenResolve]="options.childrenResolve"
    (barClick)="barClick($event)"
    (dragEnded)="dragEnded($event)"
    (loadOnScroll)="loadOnScroll($event)"
  >
    <ngx-gantt-table>
      <ngx-gantt-column name="Title">
        <ng-template #cell let-item="item">
          {{ item.title }}
        </ng-template>
      </ngx-gantt-column>
      <ngx-gantt-column>
        <ng-template #header> <span style="font-weight: bold">Start Time</span> </ng-template>
        <ng-template #cell let-item="item">
          {{ item.start * 1000 | date : 'yyyy-MM-dd' }}
        </ng-template>
      </ngx-gantt-column>
      <ngx-gantt-column name="End Time">
        <ng-template #cell let-item="item">
          {{ item.end * 1000 | date : 'yyyy-MM-dd' }}
        </ng-template>
      </ngx-gantt-column>
    </ngx-gantt-table>
  </ngx-gantt>
</div>
